/*
CSS Variables
*/
:root {
  --logo-font: "Montserrat", Sans-Serif;
  --text-color: rgb(43, 43, 43);
  --nav-font: "Satoshi", Sans-Serif;
  --navfont-size: 1rem;
  --navfont-color: rgb(66, 66, 66);
  --head-line: 5rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wt-d {
  max-width: 100%;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  gap: 30rem;
}

.website-logo {
  font-family: var(--logo-font);
  color: var(--text-color);
  font-weight: 800;
  font-size: 2.3rem;
  /*clamp(1.8rem, 2.5vw, 2.8rem)*/
}

.left-side {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
}

.left-side ul li {
  display: inline;
  font-family: var(--nav-font);
  font-size: var(--navfont-size);
  font-weight: 500;
  padding: 1rem;
  font-feature-settings: "ss03" 3;
}

.right-side ul li {
  display: inline;
  font-family: var(--nav-font);
  font-size: var(--navfont-size);
  font-weight: 500;
  font-feature-settings: "ss03" 3;
}

a {
  text-decoration: none;
  color: var(--navfont-color);
}

li {
  list-style: none;
}

.mobile-nav,
.mobile-image {
  display: none;
}

.client-logo > img {
  width: 10rem;
}

#register-btn {
  border: 2px solid rgb(112, 112, 112);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.landing-page {
  display: none;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  gap: 15rem;
  margin-top: 8rem;
}

h1 {
  font-size: var(--head-line);
  line-height: 4rem;
  font-weight: 800;
  padding-bottom: 2rem;
}

.sub-description {
  font-size: 1.2rem;
  width: 42rem;
  padding-bottom: 2rem;
}
.side-image {
  text-align: center;
}

img {
  width: 25rem;
}

#learn-more {
  cursor: pointer;
  font-family: var(--font-family);
  width: 8rem;
  background-color: rgb(32, 32, 32);
  border: none;
  height: 3rem;
  color: aliceblue;
  font-weight: 600;
  border-radius: 0.5rem;
}

.client-logo {
  position: relative;
  right: 2.9rem;
  top: 3rem;
}

.footer-link {
  font-family: var(--font-family);
  text-align: center;
  padding-top: 10rem;
}

.footer {
  display: none;
}

/* Responsize media query */

@media only screen and (max-width: 1270px) {
  .desktop-nav {
    display: flex;
    justify-content: space-between;
    gap: 30rem;
    background-color: brown;
    max-width: 100%;
    margin: 0rem 2rem 0rem 2rem;
  }
}

/* @media only screen and (max-width: 1170px) {
  .desktop-nav {
    display: flex;
    justify-content: space-between;
    gap: 22rem;
    background-color: rgb(31, 101, 194);
  }
} */
