/*
CSS Variables
*/
:root {
    --font-family: 'Montserrat', Sans-Serif;
}

/*
CSS Universal Selector
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
}